<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dzh.test">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_dol"
        android:label="我的测试"
        android:roundIcon="@drawable/ic_dol"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".andr.senior.FifteenthActivity"></activity>
        <activity android:name=".andr.senior.FourteenthActivity" />

        <receiver
            android:name=".first_line_code.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="dzh.MY_TEST" />
            </intent-filter>
        </receiver>

        <activity android:name=".first_line_code.TestBroadCastActivity" />
        <activity android:name=".andr.senior.ThirteenthActivity" />
        <activity android:name=".andr.senior.TwelfthActivity" />
        <activity android:name=".andr.senior.EleventhActivity" />
        <activity android:name=".andr.senior.TenthActivity" />
        <activity android:name=".android.practice.NinthActivity">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity android:name=".android.practice.EighthActivity" />
        <activity android:name=".SeventhRegisterActivity" />
        <activity android:name=".SixthActivity" />
        <activity android:name=".FifthActivity" />
        <activity android:name=".FourActivity" />
        <activity android:name=".ThirdActivity" />
        <activity android:name=".SecondActivity">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>